<section class="section-login">
    <div class="container-fluid">    
        <i class="bi bi-person-circle"></i> 
        <h3>Iniciar sesion</h3>    
        <div class="formulario">
            <form>
                <div class="input-group">                    
                    <div class="form-group">
                        <label class="col-form-label mt-4" for="inputDefault">Default input</label>
                        <input type="text" class="form-control" placeholder="Default input" id="inputDefault">
                    </div>

                    <div class="form-group">
                        <label class="col-form-label mt-4" for="inputDefault">Default input</label>
                        <input type="text" class="form-control" placeholder="Default input" id="inputDefault">
                    </div>
                </div>
                     <button class="btn btn-lg btn-primary" type="button">Iniciar sesion</button>
            </form>            
        </div>
    </div>  
    
</section>
