*{
    margin: 0;
    box-shadow: none;
}

.contenedor-detalle-libro{
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.row-general{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2em;
   
}



.col-imagen{
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.5);
}

.col-imagen img{
    width: 322px;
    height: 500px;
    cursor: pointer;
    transition: 2s;
    margin: auto;
}

.col-imagen img:hover{
    transform: scale(1.05) ;
    transition: 2s;
}





.row-detalle-libro{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 2em;
    font-family: "Raleway" !important;
}

.col-titulo{
    font-weight: 600;
    font-size: 25px;
}


.col-caracteristicas {
    margin: 1em;
}




.col-compra{
    box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.5);
}


.row-compra {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.row-compra .col{
    margin: 0px 0px 20px 0px;
    font-family: "Raleway";
}


.col-precio{
    font-family: "Raleway";
    font-weight: 400;
    font-size: 20px;
}


.col-compra-envio h3{
    font-family: "Raleway";
    font-weight: 700;
}


.col-compra-stock h3{
    font-family: "Raleway";
    font-weight: 700;
}

.col-compra-stock h5{
    font-family: "Raleway";
    font-weight: 700;
}


.col-compra-botones {
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1em;
}

.col-compra-botones .btn {
    margin: 0px 0px 20px 0px;
}