<div class="container-fluid contenedor-general" *ngIf="carroActivo">
    <!-- arranca fila general -->
    <div class="row row-general">
        <!-- arranca col productos de compra -->
        <div class="col-xl-8 col-product">
                <div class="row row-product">

                  <!-- arranca col head -->
                  <div class="col col-head">
                      <ul>
                          <li><p>Producto</p></li>
                          <li><p>Precio</p></li>
                          <li><p>Cantidad</p></li>
                          <li><p>Subtotal</p></li>
                          <li></li>
                      </ul>
                  </div>
                  <!-- termian col head -->

                  <div class="notLibro" *ngIf="carroActivo.libros.length === 0">
                    <p>Aún no tienes libros en tu carrito...</p>
                  </div>

                  <!-- arranca col body -->

                  <div class="col col-general">
                    <div class="col col-body" *ngFor="let libro of libros">
                    
                      <ul>
                        <li class="li-img">
                          <img [src]="libro.portada" alt="">
                        </li>
                        <li><p>${{libro.precio}}</p></li>
  
                        <li>
                          
                          <div class="row row-btn">
                            <div class="col col-btn-incrementar">
                               <button  ><i class="bi bi-plus-lg"></i></button>
                            </div>
  
                            <div class="col col-cant">
                                <p>1</p>
                            </div>
  
                            <div class="col col-btn-decremento">
                                <button  ><i class="bi bi-dash"></i></button>
                            </div>
  
                          </div>
                        </li>
                        
                        <li><p>{{libro.precio}}</p></li>
  
                        <li><i class="bi bi-trash3" style="font-size: 18px; cursor: pointer;"></i></li>
  
                      </ul>
  
                    <!-- termian al lista -->
                    </div>
                  </div>                                  
                
                  <!-- termina col-body -->
                
                </div>
        </div>
        <!-- termina col productos de compra -->


        <!-- arranca col resumen de compra -->
        <div class="col col-resumen">
          <div class="row row-resumen">
           
            <div class="col col-title">
              <p>Resumen de compra</p>
            </div>

              <div class="col col-montos">
                  <div class="col subtotal">Subtotal: {{carroActivo.total}}</div>
                  <div class="col monto">${{carroActivo.total}}</div>
              </div>

              <div class="col col-calcular">
                <p><i class="bi bi-truck" style="font-size: 15px;"></i>  calcular el viaje con CP</p>
              </div>

              <div class="col col-total">
                <div class="col subtotal">Total:</div>
                <div class="col monto">${{carroActivo.total}}</div>
              </div>

              <div class="col col-btn">
                  <button class="btn btn-primary">comprar</button>
              </div>

          </div>
        </div>
        <!-- finalzia col resumen de compra -->

    </div>
    <!-- termina fila general -->

</div>
