<div class="container-fluid footer-container" *ngIf="mostrarFooter">
    <!-- arranca fila -->
    <div class="row row-footer">

        <!-- arranca col 1 de 3 -->
        <div class="col-xl-4 col-compania">
            <div class="row row-compania">

                <div class="col col-titulo">
                    <h4>Compania</h4>
                </div>
                
                <div class="col col-lista" >
                    <ul>
                        <li><a href="#3">Nosotros</a></li>
                        <li><a href="#2">Nuestros servicios</a></li>
                        <li><a href="#1">Politica de privacidad</a></li>
                    </ul>
                </div>
            
            </div>
        </div>
        <!-- termina col 1 de 3 -->


        <!-- arranca 2 de 3 -->
        <div class="col-xl-4 col-ayuda">
            <div class="row row-compania">
                <div class="col col-titulo">
                    <h4>Ayuda</h4>
                </div>
                
                <div class="col col-lista" >
                    <ul>
                        <li><a href="#5">Preguntas frecuentes</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- arranca 2 de 3 -->


        <!-- arranca 3 de 3 -->
        <div class="col-xl-4 col-redes">
            <div class="row row-compania">
                <div class="col col-titulo">
                     <h4>Siguenos</h4>
                </div>
                
                <div class="col col-lista" >
                     <ul>
                        <li><a href="#a"><i class="bi bi-facebook"></i></a></li>
                        <li><a href="#e"><i class="bi bi-instagram"></i></a></li>
                        <li><a href="#e"><i class="bi bi-twitter"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- termina 3 de 3 -->


    </div>
    <!-- termina fila -->

</div>

























<!-- 
<div class="containter footer-container"> -->
        <!-- arranca fila -->
        <!-- <div class="row footer-row"> -->
            <!-- columna 1 de 3 -->
            <!-- <div class="col-12 col-sm footer-links">
                <h4>Compañia</h4>
                <ul>
                    <li><a href="#3">Nosotros</a></li>
                    <li><a href="#2">Nuestros servicios</a></li>
                    <li><a href="#1">Politica de privacidad</a></li>
                </ul>
            </div> -->
            <!-- termina columna 1 de 3 -->
            
            <!-- columna 2 de 3 -->
            <!-- <div class="col-12 col-sm footer-links">
                <h4>Ayuda</h4>
                <ul>
                    <li><a href="#5">Preguntas frecuentes</a></li>
                </ul>
            </div> -->
            <!--termina columna 2 de 3  -->

            <!-- arranca columna 3 de 3 -->
            <!-- <div class="col-12 col-sm footer-links">
                <h4>Siguenos</h4>
                <ul>
                    <li><a href="#a"><i class="bi bi-facebook"></i></a></li>
                    <li><a href="#e"><i class="bi bi-instagram"></i></a></li>
                    <li><a href="#e"><i class="bi bi-twitter"></i></a></li>
                </ul>
            </div> -->
        
        <!-- termina fila -->
<!-- 
    </div> -->


















<!-- <div class='footer'>
    <div class='container'>
        <div class='row foot-row'>
            <div class='footer-links'>
                <h4>Compañia</h4>
                <ul>
                    <li><a href="#3">Nosotros</a></li>
                    <li><a href="#2">Nuestros servicios</a></li>
                    <li><a href="#1">Politica de privacidad</a></li>
                </ul>
            </div>
            <div class='footer-links'>
                <h4>Ayuda</h4>
                <ul>
                    <li><a href="#5">Preguntas frecuentes</a></li>
                </ul>
            </div>
            <div class='footer-links'>
                <h4>Siguenos</h4>
                <ul>
                    <li><a href="#a"><i class="bi bi-facebook"></i></a></li>
                    <li><a href="#e"><i class="bi bi-instagram"></i></a></li>
                    <li><a href="#e"><i class="bi bi-twitter"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div> -->