<div class="container-fluid contenedor-general">
    <!-- arranca fila general -->
    <div class="row row-general">
        <!-- arranca col productos de compra -->
        <div class="col-xl-8 col-product">
                <div class="row row-product">

                  <!-- arranca col head -->
                  <div class="col col-head">
                      <ul>
                          <li><p>Producto</p></li>
                          <li><p>Precio</p></li>
                          <li><p>Cantidad</p></li>
                          <li><p>Subtotal</p></li>
                          <li></li>
                      </ul>
                  </div>
                  <!-- termian col head -->

                  <!-- arranca col body -->
                  <div class="col col-body">
                    <ul>
                      <li class="li-img">
                        <img src="https://http2.mlstatic.com/D_NQ_NP_656004-MLA73069171642_112023-O.webp" alt="">
                      </li>
                      <li><p>$29.000</p></li>

                      <li>
                        
                        <div class="row row-btn">
                          <div class="col col-btn-incrementar">
                             <button><i class="bi bi-plus-lg"></i></button>
                          </div>

                          <div class="col col-cant">
                              <p>0</p>
                          </div>

                          <div class="col col-btn-decremento">
                              <button><i class="bi bi-dash"></i></button>
                          </div>

                        </div>
                      </li>
                      
                      <li><p>$58.000</p></li>

                      <li><i class="bi bi-trash3" style="font-size: 18px;"></i></li>

                    </ul>

                  <!-- termian al lista -->
                  </div>
                  <!-- termina col-body -->
                
                </div>
        </div>
        <!-- termina col productos de compra -->


        <!-- arranca col resumen de compra -->
        <div class="col col-resumen">
          <div class="row row-resumen">
           
            <div class="col col-title">
              <p>Resumen de compra</p>
            </div>

              <div class="col col-montos">
                  <div class="col subtotal">Subtotal:</div>
                  <div class="col monto">$58.000</div>
              </div>

              <div class="col col-calcular">
                <p><i class="bi bi-truck" style="font-size: 15px;"></i>  calcular el viaje con CP</p>
              </div>

              <div class="col col-total">
                <div class="col subtotal">Total:</div>
                <div class="col monto">$58.000</div>
              </div>

              <div class="col col-btn">
                  <button class="btn btn-primary">comprar</button>
              </div>

          </div>
        </div>
        <!-- finalzia col resumen de compra -->

    </div>
    <!-- termina fila general -->

</div>
