
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* primera seccion login */

.section-login {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5em;
}

.section-login .container-fluid{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 30em;
    max-width: 500px;
    background-image: linear-gradient(to right, #181818 0%, #181818 100%);
    box-shadow: 0px 5px 20px 4px rgba(0, 0, 0, 0.5);;
}

.section-login i {
    font-size: 70px;
}


h3{
    color:#52585D;
}


.section-login .formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* padding: 50px 60px 70px ; */
    box-shadow: 0px 1px 1px 3px rgba(0, 0, 0, 0.5);
    width: 100%;
    background-color: #52585D;
}

.input-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}


input{
    width: 100%;
    background: rgb(218, 210, 228);
    /* outline: none; */
    padding: 10px 10px;
}

.btn{
    align-items: center;
    margin-top: 2em;
    margin-bottom: 2em;
    height: 50px;
    width: 200px;

}



/* Adaptable (responsive) */


@media  screen and  (max-width: 767px){
    .navbar-brand {
        display: none;
    }
}

/* @media  screen and  (min-width: 700px){
    .hero-inferior-imagen {
        max-width: 600px;
    }
} */


@media  screen and  (min-width: 1400px){
    .segunda-section{
        height: 40em;
    }

     .tercera-section-deportes {
        height: 40em;
    }

   

}



@media  screen and  (max-width: 1400px){
    .segunda-section{
        height: 52em;
        
    }

    .tercera-section-deportes {
        height: 65em;
        margin-top: 9em;
    }

    .columna-sport iframe {
        margin-left: 0;
        height: 400px;
    }

    .card-sport {
        margin:1em;
        width: 35em;
        margin-left: 3em;
    }

    .card-sport img {
        width: 100%;
        height: 200px;
    }
    

    .cuarta-section-clima {
        height: 63em;
    }

    .cuarta-section-clima .container-fluid {
        height: 60em;
 
    }
        
    .cuarta-section-clima h3 {
        padding-top: 40px;
    }
}





@media  screen and  (max-width: 769px){
    .segunda-section{
        height: 103em;
    }

    .tercera-section-deportes {
        height: 100em;
        margin-top: 15em;
    }

    .columna-sport iframe {
        margin-left: 0;
        height: 400px;
    }

    .card-sport {
        margin:1em;
        width: 100%;
        height: 400px;
    }

    .card-sport img {
        width: 100%;
        height: 300px;
    }
    
    
    .cuarta-section-clima {
        height: 100em;
    }

    .cuarta-section-clima .container-fluid {
        height: 90em;
 
    }
        
    .cuarta-section-clima h3 {
        padding-top: 60px;
    }

}




@media  screen and  (max-width: 576px){
    .columna-clima{
        flex-direction: row;
    }
    .card-clima {
        width: 100%;
    }

    .card-clima img {
        width: 100%;
    }


    .footer-row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .footer-links {
        width: 100%;
        padding: 10 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    
    .footer-links h4 {
        margin-top: 25px;
    }
    
}