<!-- <div class="container-fluid contenedor-general">
    <div class="row row-general" *ngIf="usuarioActivo">
        <div class="col col-titulo">
            <p>Mis Libros Favoritos:</p>            
        </div>
        <div class="col col-lista-libros">
            <div class="row row-lista-libros"> -->
                <!-- Utiliza una columna para cada libro -->
                <!-- <div class="col-sm-12 col-md-6 col-xl-4 col-libros" *ngFor="let libro of usuarioActivo.libros">
                   
                    <div class="card"  >
                        <img [src]="libro.portada" style="cursor: pointer" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">{{ libro.titulo }} - {{ libro.autor }}</h5>
                            <p class="card-text">{{libro.descripcion}}</p>
                            <p class="card-precio">${{ libro.precio}}</p>

                            <a class="nav-link"> 
                                <span><i class="bi bi-x-square-fill" style="cursor: pointer;"></i></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->

<!--  -->