<!-- arranca contenedor general -->
<div class="container-fluid contenedor-general" >
  
  <!-- arranca row general -->
  <div class="row row-general">
    
    <div class="col col-titulo">
        <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="10000">
                  <img src="https://http2.mlstatic.com/D_NQ_NP_647742-MLA74837218412_032024-OO.webp&quot;" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                  <img src="https://http2.mlstatic.com/D_NQ_NP_860596-MLA70456339296_072023-OO.webp&quot;" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                  <img src="https://http2.mlstatic.com/D_NQ_NP_775980-MLA70588584075_072023-OO.webp&quot;" class="d-block w-100" alt="...">
                </div>
            </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
        </div>
    </div>
 
    


    <div class="col col-lista-libros">

        <div class="row row-lista-libros">
                  <!-- Utiliza una columna para cada libro -->
                <div class="col-sm-12 col-md-6 col-xl-4 col-libros" *ngFor="let libro of libros">
                      <div class="card"  >
                              <div class="card-fav">
                                  <i class="bi bi-bookmark-plus-fill" style="cursor: pointer;"></i>
                              </div>
                              <img [src]="libro.portada"  class="card-img-top" style="cursor: pointer" [routerLink]="['/libro', libro.id]">
                              <div class="card-body">
                                    <h5 class="card-title">{{ libro.titulo }} - {{ libro.autor }}</h5>
                                    <p class="card-precio">${{ libro.precio}}</p>
                              </div>
                      </div>
                </div>
        </div>

<!-- termina col-list-libros -->

        <!-- row carrito -->
        <div class="row row-carrito" *ngIf="carroActivo && carroActivo.libros.length > 0">

              <div class="col col-titulo-carrito">
                  <h2>Tu carrito</h2>
              </div>

              <div class="col col-productos">
                
                <div class="row row-productos" *ngFor="let libro of carroActivo.libros">
                      <div class="col img-producto">
                          <img [src]="libro.portada" alt="">
                      </div>

                      <div class="col col-precio">
                        <p>${{libro.precio}}</p>
                      </div>

                      <div class="col btn-eliminar">
                        <i class="bi bi-trash3" style="font-size: 18px; cursor: pointer;"></i>
                      </div>
                </div>
                 

              </div>

              <div class="col col-total">
                    <div class="total"><p>Total: $32.000</p></div>
                    <button class="btn btn-primary" routerLink="/carro" >ir al carro</button>
              </div>

        </div>

      </div>  
  <!-- termina row general -->
</div>



<!-- termina contenedor general -->
</div> 
