<!-- 
<div class="container contenedor-general" *ngIf="categoria">
    <div class="row row-general">
        <div class="col col-titulo">
            <p>Lista de libros de genero: {{categoria.nombre}}</p>            
        </div>
        <div class="col col-lista-libros">
            <div class="row row-lista-libros">
       
                <div class="col-sm-12 col-md-6 col-lg-4 col-libros" *ngFor="let libro of librosCategoria">  
                    <div class="card" style="cursor: pointer"  >
                        <img [src]="libro.portada"  class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">{{ libro.titulo }} - {{ libro.autor }}</h5>
                            <p class="card-text">${{ libro.precio | number: '1.3'}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->